body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  /* height: calc(100% - 0px); */
}

.wrapper {
  /* height: 100vh; */
}

.settings {
  /* border: 1px solid black; */
  box-sizing: border-box;
  /* height: calc(15vh - 0px); */
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 20px;
  /* right: auto; */
  /* margin-bottom: 20px; */
  /* padding: 0px 10px 20px; */
}

.input {
  width: 40px;
  display: block;
}

.reader {
  /* border: 1px solid black; */
  height: calc(60vh - 0px);
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  font-size: calc(32px + (24 - 16) * (100vw - 400px) / (800 - 400));
}

.reader-content {
  /* border: 1px solid black; */
  position: absolute;
  top: 25%;
  left: 25%;
  /* bottom: 25%; */
  right: 25%;
  /* width: 250; */
  /* height: 350; */
  margin: auto;
  text-align: center;
}

.buttons {
  /* margin-top: 1em; */
}
button {
  height: 5em;
  width: 8em;
  font-weight: bold;
  /* background: blue; */
  border-radius: 4px;
  margin-right: 5px;
}
